div.image{
    max-height: 200px;
    display: flex;
    overflow: hidden;
}

div.image img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

a{
    color: #333;
    text-decoration: underline;
}
h1{
    text-align: center;
    margin: 10px 0 5px;
}
time{
    text-align: center;
    display: block;
    font-size: .7rem;
    color: #aaa;
}

div.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}

div.content{
    line-height: 1.6rem;
}

div.edit-row{
    text-align: center;
    margin-bottom: 10px;
}

a.edit-btn{
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    
}

a svg{
    height: 20px;
}